/* generic */

/* 
.text-center {
    text-align: center;
}

#submit {
    background-color: green;
    color: white;
    border: 0.5px solid white;
}

input {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 90%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
} 
*/