:root {
    --main-bg-color: black;
    --main-text-color: white;
    --main-placeholder-color: grey;
    --main-border-color: white;
}

.form-control {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-color: var(--main-border-color);
}

.form-control:focus {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.form-control::placeholder {
    color: var(--main-placeholder-color);
}

.form-select {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-color: var(--main-border-color);
}